
#structur,#services,#check-in,#contact,#booking,#maps,#intro,{
    text-align: center;

}
#carouselExampleControls{

    width: 100% ;
    margin-top: 2cm;

}
#intro{
    margin-top:2cm;

    text-align: center;
    margin-left: auto;

}
#contact,#allHome{
    background: #17a2b7;

}

#structur,#services,#check-in,#maps,#intro{
    background: #f7f8fc;
}
#booking{
    margin-bottom: 1cm;
    text-decoration: none;

}
#maps{
    border-top-color:#91C7D2 ;
    border-top-style: groove;
}
#h1booking{
    color: #ff5d58;
}
#imgHouse{
    text-align: center;


}
#intro,#booking,#services{
    border-bottom-color:#91C7D2 ;
    border-bottom-style: groove;
}
#booking,#services,#structur{
    border-top-color:#91C7D2 ;
    border-top-style: groove;
}

