*{
    list-style: none;
}
#intro,#maps{
    text-align: center;
    background: #f2f2f2;
}
#booking{
    text-align: center;

}
#imgHouse{
    text-align: center;


}
#imHousevera{
    width: 80%;



}
#contact {
    background-color: #17a2b8;
    text-align: center;

}
#contacttext{
    color: #c5fdff;
}
#imgcont{
    background-color: #17a2b8;  
}